
body{
    background-color: #ededed;
}
h1{
    text-align: center;
    margin-right: 40px;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

.btn{
    height: 50px;
    width: 200px;
    border-radius: 12px;
    font-size: 20px;
    padding: 5px;
    background-color:#ededed;
    color:black;
    font-family: 'Roboto', sans-serif;
}
.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.grid{
    display: grid;
    height: 560px;
    width: 560px;
    grid-template-columns:auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box{
    border: 0px;
    height: 35px;
    width: 35px;
}
.painted{
    background-color: #333;
}
.bodyDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    max-width: 1100px;
    margin: 0 auto;
}
